@font-face { /* estiliza com uma fonte externa baixada*/
    font-family:'Fonstars';
    src: url('Fonstars')
    format('opentype'); 
  }
  header{
    display: flex;
    align-items: center;
  }
  header img {
    width: 5.5em;
    height: 3.5em;
    margin-right: 10px;
  }
header img:first-child { /*  Espaçamento à direita da primeira imagem */
    margin-right: 10px; 
}
 header img:last-child { /* Espaçamento à esquerda da segunda imagem */
    margin-left: 10px; 
 }
  
 @keyframes moverGif {
  0%{
    transform: translateX(0);
  }
  100% {
    transform: translateX(200px);
  }
    
 }
 #gif{
    animation: moverGif 4s ease-in-out infinite;
 }
 header {
    background-image: linear-gradient(to right top, #051937, #004d7a, #008793, #00bf72, #a8eb12);
    padding: 20px 0;
    font-family: 'Fonstars';
    font-size: 50px;
    text-align: center;
    color: white;
    display: flex;
    justify-content: center;
  }
  
 
  body {
    margin: 0;
    padding: 0;
    background-color:#ffffff;

}
    

.container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding-bottom: 20px;
}
.row {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin-top: 20px; /* Adiciona uma margem superior para afastar as imagens do cabeçalho */

}

.item {
    flex: 0 0 calc(33.33% - 20px);
    max-width: calc(33.33% - 20px);
    text-align: center;
}

img {
    max-width: 100%;
    height: auto;
}

footer {
  background-image: linear-gradient(to right top, #051937, #004d7a, #008793, #00bf72, #a8eb12);
font-family: 'Fonstars';
  color: #ffffff;
  text-align: center;
  padding: 10px 0;
  block-size: auto;
}
footer a {
  text-decoration: none;
  color: #ffffff;
}
.item {
  text-align: center;
  transition: transform 0.3s ease; /* Adiciona uma transição para a propriedade transform */
}

.item:hover {
  transform: scale(1.3); /* aumenta as 3 ultimas imagens */
}
