
@font-face { /* estiliza com uma fonte externa baixada*/
  font-family:'Fonstars';
  src: url('Fonstars')
  format('opentype'); 
}
/* Estilo para o cabeçalho */
header {
    display: flex;
    align-items: center; /* Alinha verticalmente ao centro */
  }
  header img {
    width: 2.5em; /* Define a largura da imagem para ser igual ao tamanho do texto */
    height: 2.5em; /* Define a altura da imagem para ser igual ao tamanho do texto */
    margin-right: 10px; /* Espaçamento à direita da imagem */
  }
  /* Estilo para a primeira imagem */
  header img:first-child {
    margin-right: 10px; /* Espaçamento à direita da primeira imagem */
  }
  
  /* Estilo para a segunda imagem */
  header img:last-child {
    margin-left: 10px; /* Espaçamento à esquerda da segunda imagem */
  }
  
  /* Defina a animação com a propriedade @keyframes */
  @keyframes moverGif {
    0% {
        transform: translateX(0); /* Começa na posição original (sem movimento horizontal) */
    }
    100% {
        transform: translateX(200px); /* Move 100 pixels para a direita */
    }
  }
  
  /* Aplique a animação à imagem GIF */
  #gif {
    animation: moverGif 4s ease-in-out infinite; /* Nome da animação, duração, timing function e repetição */
  }
  
  header {
    background-image: linear-gradient(to right top, #051937, #004d7a, #008793, #00bf72, #a8eb12);
    padding: 20px 0;
    font-family: 'Fonstars';
    font-size: 50px;
    text-align: center;
    color: white;
    display: flex;
    justify-content: center;
  }
  
  body {
    margin: 0;
    padding: 0;
    background-color:#ffffff;
  
  }
.container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding-bottom: 20px;
}

.row {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin-top: 20px; /* Adiciona uma margem superior para afastar as imagens do cabeçalho */

}

.item {
    flex: 0 0 calc(33.33% - 20px);
    max-width: calc(33.33% - 20px);
    text-align: center;
}

img {
    max-width: 100%;
    height: auto;
}

footer {
  background-image: linear-gradient(to right top, #051937, #004d7a, #008793, #00bf72, #a8eb12);
font-family: 'Fonstars';
  color: #ffffff;
  text-align: center;
  padding: 10px 0;
  block-size: auto;
}
footer a {
  text-decoration: none;
  color: #ffffff;
}
.item {
 
  text-align: center;
  transition: transform 0.3s ease; /* Adiciona uma transição para a propriedade transform */
}
.item1:hover, .item2:hover, .item3:hover {
  transform: scale(1.5); /* aumenta as 3 primeiras imagens */
}
.item5:hover, .item6:hover, .item4:hover {
  transform: scale(1.1); /* aumenta as 3 ultimas imagens */
}


